[Unit]
Description=Eth

[Service]
User=eth
Type=simple
WorkingDirectory=/home/eth
ExecStart=/bin/bash /home/eth/start.sh
Restart=on-failure
RestartSec=30
TimeoutSec=300
IOWeight=8000
CPUWeight=8000

[Install]
WantedBy=default.target
